<ng-container [ngSwitch]="type">
  <button *ngSwitchDefault mat-button [disabled]="isDisabled" color="{{color}}">
    {{ text }}
  </button>
  <button *ngSwitchCase="'raised'" [disabled]="isDisabled" mat-raised-button color="{{color}}">
    {{ text }}
  </button>
  <button *ngSwitchCase="'stroked'" [disabled]="isDisabled" mat-stroked-button color="{{color}}">
    {{ text }}
  </button>
  <button *ngSwitchCase="'flat'" [disabled]="isDisabled" mat-flat-button color="{{color}}">
    {{ text }}
  </button>
  <button *ngSwitchCase="'icon'" [disabled]="isDisabled" mat-icon-button color="{{color}}">
    <mat-icon>{{ text }}</mat-icon>
    <mat-label *ngIf="label">{{label}}</mat-label>
  </button>
  <button *ngSwitchCase="'fab'" [disabled]="isDisabled" mat-fab color="{{color}}">
    <mat-icon>{{ text }}</mat-icon>
  </button>
  <button *ngSwitchCase="'mini-fab'" [disabled]="isDisabled" mat-mini-fab color="{{color}}">
    <mat-icon>{{ text }}</mat-icon>
  </button>
</ng-container>