<ng-container class="form-container">
  <form action="" class="register-form">
    <app-shared-input-field 
      class="row"
      appearance="fill"
      label="Digite seu Nome"
      placeholder="Nome Completo"
      icon="name">
    </app-shared-input-field>

    <app-shared-input-field
      class="row"
      appearance="fill"
      label="Digite um Email"
      placeholder="Exemplo@unknown.com"
      icon="email">
    </app-shared-input-field>
    
    <app-shared-input-field
      class="row"
      appearance="fill"
      label="Digite uma senha"
      placeholder="******"
      icon="password">
    </app-shared-input-field>

    <app-shared-button
      text="Let's Go!"
      type="raised"
      color="accent">
    </app-shared-button>
  </form>
</ng-container>
