<form class="container-column login-style">
  <div class="form-row">
    <app-shared-input-field
      appearance="fill"
      label="Usuário"
      placeholder="Digite seu usuário"
      icon="account_box">
    </app-shared-input-field>
  </div>
  
  <div class="form-row">
    <app-shared-input-field
      appearance="fill"
      label="Senha"
      placeholder="Digite sua senha"
      icon="password">
    </app-shared-input-field>
  </div>

  <app-shared-button
    text="Here a go again!"
    type="raised"
    color="accent">
  </app-shared-button>
</form>
