$custom-primary-color: (
  50:#DCEDC8,
  100:#C5E1A5,
  200:#AED581,
  300:#9CCC65,
  400:#8BC34A,
  500:#7CB342,
  600:#689F38,
  700:#558B2F,
  800:#33691E,
  900:#264f16,
  A100:#CCFF90,
  A200:#B2FF59,
  A400:#76FF03,
  A700:#64DD17,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
    )
  );

$custom-accent-color: (  
  50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784,
  400: #66BB6A,
  500: #4CAF50,
  600: #43A047,
  700: #388E3C,
  800: #2E7D32,
  900: #1B5E20,
  A100: #B9F6CA,
  A200: #69F0AE,
  A400: #00E676,
  A700: #00C853,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$custom-warn-color: (
  50:#FFEBEE,
  100:#FFCDD2,
  200:#EF9A9A,
  300:#E57373,
  400:#EF5350,
  500:#F44336,
  600:#E53935,
  700:#D32F2F,
  800:#C62828,
  900:#B71C1C,
  A100:#FF8A80,
  A200:#FF5252,
  A400:#FF1744,
  A700:#D50000,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #ffffff,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$sucess-custom-color: (
  50 : #e3e8f1,
  100 : #b9c5dd,
  200 : #8a9ec6,
  300 : #5b77af,
  400 : #37599e,
  500 : #143c8d,
  600 : #123685,
  700 : #0e2e7a,
  800 : #0b2770,
  900 : #061a5d,
  A100 : #8fa2ff,
  A200 : #5c77ff,
  A400 : #294dff,
  A700 : #0f38ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    )
);


