$custom-primary-color: (
  50:#060606,
  100:#161616,
  200:#262626,
  300:#363636,
  400:#464646,
  500:#565656,
  600:#666666,
  700:#7B7B7B,
  800:#A5A5A5,
  900:#C3C3C3,
    contrast: (
       50 : #000000,
      100 : #000000,
      200 : #000000 ,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
    )
  );

$custom-accent-color: (  
  50:#FFEBEE,
  100:#FFCDD2,
  200:#EF9A9A,
  300:#E57373,
  400:#EF5350,
  500:#F44336,
  600:#E53935,
  700:#D32F2F,
  800:#C62828,
  900:#B71C1C,
  A100:#FF8A80,
  A200:#FF5252,
  A400:#FF1744,
  A700:#D50000,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$custom-warn-color: (
  50:#FFEBEE,
  100:#FFCDD2,
  200:#EF9A9A,
  300:#E57373,
  400:#EF5350,
  500:#F44336,
  600:#E53935,
  700:#D32F2F,
  800:#C62828,
  900:#B71C1C,
  A100:#FF8A80,
  A200:#FF5252,
  A400:#FF1744,
  A700:#D50000,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$sucess-custom-color: (
  50:#64DD17,
  100:#76FF03,
  200:#B2FF59,
  300:#CCFF90,
  400:#33691E,
  500:#558B2F,
  600:#689F38,
  700:#7CB342,
  800:#8BC34A,
  900:#9CCC65,
  A100:#AED581,
  A200:#C5E1A5,
  A400:#DCEDC8,
  A700:#F1F8E9,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$custom-light-color: (
  50: #EFEFEF,
  100: #FFFFFF,
  contrast:(
    50: #F1F1F1,
    100: #F1F1F1
  )
);
