@use '@angular/material' as mat;
@use 'typography';
@use 'color-palette';
@use 'sass:map';

/* Set Dark colors */
$primary-dark-color: mat.define-palette(color-palette.$custom-primary-color, 900);
$accent-dark-color: mat.define-palette(color-palette.$custom-accent-color, A700);
$warn-dark-color: mat.define-palette(color-palette.$custom-warn-color, A700);
/* Set Light colors */
$primary-light-color: mat.define-palette(color-palette.$custom-primary-color, 600);

/* Define-Themes */
$dark-app-theme: mat.define-dark-theme((
  color: (
    primary: $primary-light-color,
    accent: $accent-dark-color,
    warn: $warn-dark-color
  ),
  typography: (
    typography: typography.$portal-typography,
  )
));

@include mat.all-component-colors($dark-app-theme);
@include mat.all-component-themes($dark-app-theme);
@include mat.strong-focus-indicators-theme($dark-app-theme);

