@use 'color-palette';
@use "sass:map";
@use '@angular/material' as mat;
@include mat.core();

$portal-typography: mat.define-typography-config(
  $font-family: "'Roboto', Helvetica Neue",
  $display-4: mat.define-typography-level(45px, 48px, 300, $letter-spacing: -0em),
  $display-3: mat.define-typography-level(36px, 34px, 300, $letter-spacing: -0em),
  $display-2: mat.define-typography-level(30px, 34px, 300, $letter-spacing: -0em),
  $display-1: mat.define-typography-level(22px, 34px, 300),
  $headline:  mat.define-typography-level(26px, 34px, 400),
  $title:  mat.define-typography-level(26px, 34px, 600),
  $subheading-2:  mat.define-typography-level(22px, 34px, 300),
  $subheading-1:  mat.define-typography-level(22px, 34px, 300),
  $body-2:  mat.define-typography-level(14px, 18px, 700),
  $body-1:  mat.define-typography-level(14px, 22px, 400),
  $caption:  mat.define-typography-level(12px, 18px, 400),
  $button:  mat.define-typography-level(14px, 34px, 600),
);

$custom-success: mat.define-palette(color-palette.$sucess-custom-color);

@function apply-extra-colors($theme) {
  @return map.deep-merge($theme, (
    success: $custom-success,
    color: (
      success: $custom-success,
    )
  ));
}