.card-links {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}

/* .card:hover {
  box-shadow: 5px 5px 3px #262626;
  transition: .6s;
} */

a {
  display: flex;
}