@import './styles/color-palette.scss';
@import './styles/theme.scss';
@import './styles/global.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{ 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
} 

button, a {
  cursor: pointer;
}

/* .app-container {
  display: grid;
} */
